.header{
    display: flex;
    height: 60px;
    background-color:bisque;
    box-shadow: 0.5px 2px 1px gainsboro;
}

.header-title-and-icon{
    display: flex;
    align-items: center;
}

.header-title-and-icon h1{
    text-shadow: 4px 7px gainsboro;
    transition: all 300ms;
}

.header-title-and-icon h1:hover{
    text-shadow: 2px 2px gainsboro;
}

.header-logo{
    height: 100px;
}

.header-category-sections{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-category-sections p{
    margin-right: 30px;
    font-size: 25px;
    margin-top: 15px;
    text-shadow: 4px 7px gainsboro;
    transition: all 300ms;
}

.header-category-sections p a{
    text-decoration: none;
    color: white;
}

.header-category-sections p:hover{
    text-shadow: 2px 2px gainsboro;
}

main{
    margin-left: 4rem;
    padding: 1rem;
    color: aqua;
    font-size: 35px;
    font-style: bold;
}

.titulo   {
    font-style: italic;
    color: black;
}

h2{
    font-style: italic;
    color: gray;
    font-size: 25px;
    margin-top: 50px;
}
.card      {
    width: 14rem;
    padding: 5px;
    background-color: bisque;
}

.card-title   {
 color:palevioletred; 
}

.btn{
    color: palevioletred;
}

.button{
    color: gray;
    border: none;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.count-display{
    display: flex;
    margin-left: 40px;
    margin-bottom: -10px;
    height: 40px;
    width: 120px;
    line-height: 30px;
    color:aquamarine;
}

.count-display p{
    font-style: bold;
}
.item-list-box{
    width: 90%;
    padding-bottom: 50px;
    padding-top: 3px;
    background-color:blanchedalmond;
}

.item-list-title{
    margin-left:450px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 4px solid pink;
    width: 20%;
    margin-top: 20px;
}

.item-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}

.item-div{
    background-color:wheat;
    color: gray;
    height: 100%;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}

.item-div .item-image{
    width: 100%;
    height: 200px;
}

.item-div .item-image img{
    height: 200px;
    width: 100%;
}

.item-div .item-title{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.item-div .item-description{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.item-div .item-attributes{
    display: flex;
    width: 100%;
}

.item-div .item-price, .item-div .item-id{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 0px 0px 0px 10px;
}

.item-div .item-id{
    border-radius: 0px 0px 0px 0px !important;
    border-left: 1px solid aqua;
}

@media(max-width: 768px){
    .header{
        flex-wrap: wrap;
        height: 200px;
    }

    .header-title-and-icon{
        justify-content: center;
        margin-left: -30px;
    }

    .header-logo{
        height: 70px;
    }

    .header-category-sections{
        justify-content: center;
        margin-top: -50px;
    }
}

@media(max-width: 575px){
    .header-title-and-icon{
        width: 100%;
    }
    .header-category-sections{
        width: 100%;
    }
}