:root{
    font-size: 16px;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    width: 0.70rem;
}
body::-webkit-scrollbar-track{
    background:bisque;
}
body::-webkit-scrollbar-thumb{
    background: aquamarine;
}
main{
    display: flex;
}

.App-logo {
    width: 200px;
    padding:15px;
}

.titulo {
   color:aquamarine;
   font-style:oblique;
   font-size: 70px;
}

img{
    width: 100%;
}

.carrito    {
  height: 100px;
}

.navbar2{
    position:static;
    background: bisque;
    display: flex;
    flex-direction:row;
}

.link-text  {
    font-style: italic;
    color:palevioletred;
    font-size: 40px;
    margin-left: 30px;
    padding-top: -50px;
}

.button{
    color: white;
    text-transform: uppercase;
    background-image: linear-gradient(
        135deg,
        pink,salmon
    );
}

.btn{
   color: aqua;
   background-color: white;
   margin-top: 10px;
}

.count-display{
    display: flex;
    background-color: pink;
    margin-left: 50px;
}

p .count{
    color: black;
    padding-right: 40px;
    padding-bottom: 30px;
}

.item-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.item-card{
    background-color:bisque;
    padding: 5px;
}

.item-card-details{
    padding: 10px 10px;
    color: black;
    font-style: italic;
}

.item-card-details h3{
    font-size: 18px;
}

.item-card-details-actions-and-price{
    display: flex;
}

.item-card-details-actions-and-price p{
    margin: 0 0 0 auto;
    margin-top: 30px;
}

.item-card-details-actions-and-price p span{
    font-size: 25px;
    background-image: linear-gradient(
        135deg,
        salmon,pink
    );
    padding: 30px;
}

/*/
/*/
.product-detail{
    width: 100%;
    display: flex;
    height: 100%;
}

.product-detail-image{
    width: 40%;
    position: relative;
    height: fit-content;
}

.product-detail-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.product-detail-info h2{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(
        135deg,
        pink,
        salmon
    );
    width: 100%;
    height: 50px;
    line-height: 50px;
    justify-self: center;
    border-radius: 5px;
}

.product-detail-info > p {
    color: black;
    font-weight: 600;
    background:bisque;
    padding: 20px;
    border-radius: 5px;
}

.product-detail-item-actions{
    width: 100%;
    margin-top: 20px;
}

.product-detail-item-actions a{
    font-weight: bold;
    background-image: linear-gradient(
        135deg,
        aqua,
        aquamarine
    );
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.product-detail-item-actions a:not(:first-child){
    margin-left: 15px;
}


.product-detail-item-actions a svg{
    margin-right: 5px;
}


@media only screen and (max-width: 1200px){
    .product-detail{
        flex-direction: column;
    }

    .product-detail-image{
        width: 100%;
    }

    .product-detail-info{
        width: 100%;
        padding: 0px;
    }
}

@media only screen and (max-width: 600px){
    .product-detail-item-actions{
        display: flex;
        flex-direction: column;
    }

    .product-detail-item-actions a:not(:first-child){
        margin-left: 0px;
        margin-top: 15px;
    }
}